*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-size:20px;
    text-rendering:optimizeLegibility;
}

.row{
    max-width:1140px;
    margin:0 auto;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/home_panel1_banner_new.jpg);
    background-size:cover;
    background-position: center;
    height:70vh;
}


.hero-text-box{
    position:absolute;
    width:650px;
    top:50%;
    left:50%;
    transform: translate(-80%,-100%);

}

h1{
    margin:0;
    color:#fff;
    text-transform: uppercase;
    font-size:300%;
    font-weight:300;
    word-spacing: 4px;
    margin-bottom:1rem;
}
p{
    color:#fff;
    margin-bottom:5rem;
}

.btn:link,
.btn:visited{
    display:inline-block; /*allows for padding*/
    padding: 20px 50px;
    font-weight:300px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}

.btn-filled:link,
.btn-filled:visited{
    background-color:#bc9542;
    color:white;
}

.btn-filled:hover{
    background-color:#57451f;
}
.btn-outline:link,
.btn-outline:visited{
    border: 2px solid white;
    color:white;
}
.btn-outline:hover{
    background-color:#3b3b3b;
}

nav{
    background-color: white;
    height:5vh;
    display:flex;
    justify-content: space-around;
    
}

.navigation {
    list-style: none;
     margin: 0; 
    color:black;
    display:flex;
    justify-content: end;
    
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    text-transform: uppercase;
    
}

.logo{
    width:auto;
    margin-top:20px;
    margin-left:50px;
    display:inline-block;
    margin-bottom:10px;
}